body {
	background-color:#2E4444;
}

.title {
	font-size: 30px;
	text-align: center;
	color: white;
	padding:15px;
}
.sub-heading {
	font-size: 36px;
	text-align: center;
	color: white;
	padding:15px;
}

.clock-display {
	font-size:50px;
	text-align: center;
	color: white;
}

.forecast-summary {
	font-size: 20px;
	color: white;
	text-align: center;
	padding-top: 40px;
}

.cold {
	background-color: #95A5A6;
}

.chilly {
	background-color: #1ABC9C;	
}

.nice {
	background-color: #2980B9;
}

.warm {
	background-color: #E67E22;
}
.hot {
	background-color: #E74C3C; 
}

#forecastIcon {
	margin:0 auto;
}

.icon-container {
	text-align: center;
}